.viewport{
    position: relative;
}

.clear{
    clear: both;
    margin: 10px 0;
}

.tile.selected{
    border: 1px solid blue;
}

.panel_tiles .tile{
    position: static;
    float: left;
    margin: 5px;
}

.tile_interactive{
    border: 1px solid rgba(255,0,0,.4);
    z-index: 200;
}

.tile_interactive.hide{
    border-color : transparent;
}

.tile_interactive:hover{
    background-color: rgba(255,255,255,.3);
}

.erase{
    position: relative!important;
    background-color: #fff;
    overflow: hidden;
    color: black;
}

    .erase:after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        width: 1px;
        height: 150%;
        
        background-color: red;
        
        transform-origin: 0 bottom;
        transform: rotate(45deg);
    }

.export_result{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    
    background-color: #fff;
    height: 100%;
    width: 100%;
    z-index: 300;
}

.close{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    
    color: #fff;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    background-color: #000;
    
    cursor: pointer;
}